@model IEnumerable<Frontend.Models.ProductViewModel>

@{
    ViewData["Title"] = "GetProductos";
    List<int> carrito = Context.Session.GetObject<List<int>>("CARRITO");
}

<h1>Lista De Productos</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="https://picsum.photos/200">
                <div class="caption">
                    <h3>@Html.DisplayFor(modelItem => item.Nombre)</h3>

                    <p>@Html.DisplayFor(modelItem => item.PrecioBase)</p>

                    <p>
                        @if (carrito != null && carrito.Contains(item.Id))
                        {
                            <button disabled class="btn btn-outline-danger disabled">En carrito</button>
                        }
                        else
                        {
                            <a class="btn btn-outline-success" asp-action="Index" asp-controller="Producto" asp-route-idproducto="@item.Id">
                                Añadir a carrito
                            </a>
                        }
                    </p>
                </div>
            </div>
        </div>
        }
 </div>
